$lightgreen: #EAFEEC;
$lightgreen2: #F1FFF8;
$grafit: #32505B;
$light-text: #20414D;
$head-txt: #212D32;
$bg-color1: #F1F3F2;
$pres-h1: #32505B;
$pres-span: #376474;
$btn-red: #F62A2A;
$btn-green: #38CEA8;
$white: #FFFFFF;
$steps_num: #38CEA8;
$health-green: #38CEA8;
$health-green12: rgb(56, 206, 168, 0.12);
$black: black;
$blue50: rgba(99, 119, 221, 0.5);
$main-txt: #376474;
$btn-border: #888282;
$place-color: #404040;
$place-bg: #f0e9e9;
$tabl-line: #ff001f