@mixin Flex($jc, $ai, $fd, $gp){
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
    gap: $gp;
}

@mixin Roboto($fs, $fw, $lh){
    font-family: Roboto sans-serif;
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
}